<!DOCTYPE html>
<html lang="zh-ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../jquery-2.1.0.js"></script>
    <script src="../../tools/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../tools/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stupage.css">
    <title>学生主页</title>
</head>

<body>

    <div class="head">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">HOME</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text">欢迎 <%= userData.USER_NAME %> 同学</p>
                        </li>
                        <li><a id="deal2" href="/?exit=exit">注销</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="left col-md-3">
                <div class="setting">
                    <div class="list-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">个人设置</h3>
                            </div>
                            <a href="/student" class="list-group-item ">修改资料</a>
                            <a href="/student/appointment" class="list-group-item onclick">预约活动</a>
                            <a href="http://jwzx.hrbust.edu.cn/homepage/index.do" class="list-group-item">教务在线</a>
                            <!-- <a href="/" class="list-group-item">翻转课堂</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="center col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="center-title"></h3>
                    </div>
                    <div class="panel-body" id="center-body">
                        <div class="panel-body">
                            <p>注意活动/比赛时间，时间冲突只能预约一场活动</p>
                        </div>

                        <ul class="list-group">
                            <% cpData.forEach(function(e){ %>
                            <li class="list-group-item pull-left clearfix" style="width:100%;">
                                <dl class="dl-horizontal">
                                    <dt>活动（赛事）名称</dt>
                                    <dd><%= e.COMNAME %></dd>
                                    <dt>活动（赛事）时间</dt>
                                    <dd><%= e.COMTIME %></dd>
                                    <dt>活动（赛事）地点</dt>
                                    <dd><%= e.COMPLACE %></dd>
                                    <dt>活动（赛事）描述</dt>
                                    <dd><%= e.COMDES %></dd>
                                </dl>
                                <button class="btn btn-default pull-right clearfix appoint" type="submit"
                                    data-id="<%= e.ID %>"
                                    flag="<%= state[e.ID]==1 ? 1 : 0 %>"><%= state[e.ID]==1 ? "取消预约" : "预约" %></button>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right col-md-3">
                <div class="newcompeteproject">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">最新发布对局</div>
                        <!-- List group -->
                        <ul class="list-group">
                            <% cpData.forEach(function(e){ %>
                            <li class="list-group-item"><a href="/student/appointment"><%=e.COMNAME%></a>
                                <mark><%=e.COMTIME%></mark> </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var centerTitle = $('#center-title');
        var centerBody = $('#center-body');
        var onclick = $('.onclick');
        centerTitle.html(onclick.html());
        var addeventlistener = function () {
            $('.appoint').on('click', function () {
                var flag = $(this).attr('flag');
                if (flag == 0) {
                    var id = $(this).attr('data-id');
                    var okappoint=true;
                    appoint(id,okappoint,$(this))
                   
                    
                }
                else {
                    $(this).text('预约');
                    $(this).attr('flag', '0');
                    var id = $(this).attr('data-id');
                    unappoint(id)
                }
            })
        }
        var appoint = function (id,ok,dom) {
            $.ajax({
                type: 'get',
                url: '/student/appointment/success',
                data: {
                    id: id,
                },
                success: function (e) {
                    // console.log(e,Boolean(e=='unsuccess') )
                    if(e=='unsuccess'){
                         ok=false;
                    }
                    else{
                        ok=true;
                    }
                    if(ok){
                       dom.text('取消预约');
                       dom.attr('flag', '1');
                    }
                    else{
                        alert('您已预约同一时间的比赛！')
                    }
                }
            })
        }
        var unappoint = function (id) {
            $.ajax({
                type: 'get',
                url: '/student/appointment/unsuccess',
                data: {
                    id: id,
                },
                success: function () {

                }
            })
        }

        addeventlistener()
    </script>
    <!-- <script src="../publicdeal.js"></script> -->
</body>

</html>